@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$primary: hsl(220, 98%, 61%);
$gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$gray1: hsl(0, 0%, 98%);
$gray2: hsl(236, 33%, 92%);
$gray3: hsl(233, 11%, 84%);
$gray4: hsl(236, 9%, 61%);

body.dark {
  --text: #f9f7f7;
  --main2: #181924;
  --main1: #25273d;
  .todo,
  form,
  .todo-list-container {
    --main1: #25273d;
    --box-shadow: 1px 1px 7px rgb(34, 34, 34);
  }
  .todo {
    border-bottom: 1px solid hsl(233, 14%, 35%);
  }
  .todo-filter.mobile {
    --main1: #25273d;
    background: var(--main1);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  --text: #151515;
  --main1: hsl(0, 0%, 98%);
  --main2: hsl(236, 33%, 92%);
  --transition: all 0.5s ease;
  font-family: "Josefin Sans", sans-serif;
  background: var(--main2);
  color: var(--text);
  font-size: 1.4rem;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  font-weight: 400;
  transition: var(--transition);
}

h1 {
  font-size: 4rem;
  color: white;
  letter-spacing: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
}

img {
  width: 100%;
}

.background {
  // --homeBg: url("/public/img/bg-desktop-light.jpg");
  // background: var(--homeBg);
  // background-size: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  height: 30vh;
  width: 100%;
  transition: background 0.5s ease;
}

main {
  position: relative;
  width: 50%;
  max-width: 1000px;
  margin: auto;
  padding: 5rem 0;
  min-height: 90vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  > li,
  > p {
    padding: 1rem;
  }
}

form,
.todo {
  width: 100%;
  background: var(--main1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0 2rem;
  transition: var(--transition);
  input {
    padding: 2rem;
    outline: none;
    border: none;
    width: 100%;
    color: var(--text);
    background: transparent;
    &::placeholder {
      opacity: 0.5;
    }
  }
}

.round {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid $gray3;
  transition: var(--transition);
  position: relative;
  cursor: pointer;
  &:hover {
    border: none;
    background: $gradient;
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      left: 2px;
      bottom: 2px;
      background: $gray1;
      border-radius: 50%;
    }
  }
}

.todo-list-container {
  --box-shadow: 1px 1px 7px rgb(220, 220, 220);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--main1);
  border-radius: 5px;
  margin: 2rem auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  .todo-list {
    width: 100%;
  }
  .todo {
    border-bottom: 1px solid var(--main2);
    border-radius: 0;
    cursor: pointer;
    p {
      padding: 3rem;

      line-height: 100%;
      width: 100%;
    }
    .cross {
      opacity: 0;
      margin-left: auto;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
    &:hover .cross {
      opacity: 1;
    }
    &.completed {
      p {
        opacity: 0.5;
        text-decoration: line-through;
      }
      .round {
        background: $gradient;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: white;
          content: "\f00c";
        }
      }
    }
  }
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  color: $gray4;
  font-size: 1.8rem;
  li {
    cursor: pointer;
    transition: var(--transition);
    &:hover {
      color: var(--text);
    }
    &.selected {
      color: $primary;
    }
  }
  .clear,
  .items-left {
    cursor: pointer;
    padding: 1rem;
  }
}
.todo-filter {
  &.mobile {
    background: var(--main1);
    padding: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    li {
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        color: var(--text);
      }
      &.selected {
        color: $primary;
      }
    }
  }
}

.drag-drop {
  text-align: center;
  padding: 5rem;
  font-size: 1rem;
  color: $gray4;
}

.draggable.dragging {
  opacity: 0.5;
  cursor: grab;
}

.mobile {
  display: none;
}

footer {
  background: var(--main1);
  color: var(--text);
  .container {
    padding: 1rem;
    min-height: 10vh;
    max-width: 1000px;
    width: 50%;
    margin: auto;
    a:hover {
      color: $primary;
    }
    .source,
    .author,
    .links {
      padding: 1rem;
    }
    .source {
      a {
        text-decoration: underline;
      }
    }
    .fab {
      font-size: 2rem;
      padding: 0.5rem;
    }
    .tiret {
      padding: 1rem;
    }
  }
}

@media (max-width: 1080px) {
  main,
  .container {
    width: 70%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
  main {
    width: 90%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  footer .container {
    flex-direction: column;
    width: 90%;
  }
  .tiret {
    display: none;
  }
}
